
<button class="btn btn-primary m-3" type="button" (click)="onNewEmployee()">Add Employee</button>
<div *ngIf="empToggle">
<app-add-employee (loading)="loadEmployees()"></app-add-employee>
</div>

<button class="btn btn-primary m-3" type="button" (click)="toggleFilter()">Filter</button>
<div *ngIf="filterToggle" class="filter">
  <app-filter-employee (newFilter)="newFilter($event)"></app-filter-employee> 
</div>


<table class="table">
    <thead>
      <tr>
        <th scope="col" (click)="changeSortOrder('name')">Name</th>
        <th scope="col" (click)="changeSortOrder('email')">Email</th>
        <th scope="col" (click)="changeSortOrder('position')">Position</th>
        <th scope="col" (click)="changeSortOrder('salary')">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let employee of employees; let i = index">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.salary }}</td>
        <td><button class="btn btn-danger btn-sm" type="button" (click)="onDelete(i)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      <li *ngIf="filter.skipCount!=0" class="page-item"><a class="page-link" href="#" (click)="changePage(-1)">Previous</a></li>
      <li *ngIf="employees.length == filter.maxResultCount" class="page-item"><a class="page-link" href="#" (click)="changePage(1)">Next</a></li>
    </ul>
  </nav>